* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

/* Tap to Start */
#startScreen {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: center;
}

.startText {
  font-size: 24px;
  line-height: 1.4;
  opacity: 0.9;
}

/* Canvas */
#webgl {
  width: 100vw;
  height: 100vh;
  display: block;
}
